@font-face {
  font-family: "Brandon Text";
  font-weight: 300;
  src: url("./fonts/BrandonText-Light.otf");
}

@font-face {
  font-family: "Brandon Text";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/BrandonText-Regular.otf");
}

@font-face {
  font-family: "Brandon Text";
  font-weight: 500;
  src: url("./fonts/BrandonText-Medium.otf");
}

@font-face {
  font-family: "Brandon Text";
  font-style: bold;
  font-weight: 700;
  src: url("./fonts/BrandonText-Bold.otf");
}

@font-face {
  font-family: "Brandon Text";
  font-weight: 900;
  src: url("./fonts/BrandonText-Black.otf");
}

@font-face {
  font-family: "Noto Serif Myanmar Bold";
  font-weight: 500;
  src: url("./fonts/NotoSerifMyanmar-Bold.otf");
}

body {
  margin: 0;
  font-family: "Brandon Text", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Brandon Text", sans-serif;
}
